#language {
    margin-top: -53px;
    margin-bottom: 23px;
}

#language select {
    padding-right: 10px;
    width: 120px;
}

.delete_wrapper {
    width: 100px;
}

#delete-list,
#div-add {
    display:none;
}

#form-add {
    min-width: 300px;
}

.form-button-add button {
    min-width:96px;
}

.delete-one,
.delete-found {
    min-width:96px;
}
